---
title: Calendar
bgcolor: "#4497CB"
bgimage: "/images/gear-overlay.png"
splashtext: "SWE Event Calendar"
---
<iframe class="iframe" src="https://www.google.com/calendar/embed?src=m980q306mg3rfvuh7jhm43fr5s%40group.calendar.google.com&amp;ctz=America/Los_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>