---
title: EPEC
bgcolor: "#584A6A"
bgimage: "/images/gear-overlay.png"
splashtext: "Engineers for Professional Equality"
---

.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-6.small-12.columns.content-img{"data-equalizer-watch" => ""}
		= image_tag "/images/epec/new-epec-logo.png"
	.large-6.small-12.columns{"data-equalizer-watch" => ""}
		%p 
			EPEC is a conference for students that aims to empower women and other marginalized groups in STEM by promoting diversity and inclusion. Experienced engineers will speak on a panel and give a series of workshops on topics relating to diversity in industry. Attendance is free and lunch will be provided!  Check out our #{link_to 'facebook page', 'https://www.facebook.com/SWE.UCLA.EPEC/'} for the latest updates on this years EPEC.
.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-12.columns{"data-equalizer-watch" => ""}
		%h2.center-text
			Engineers for Professional Equality 2017
		%h3.center-text
			Saturday, April 8th, 2017 | 10AM - 3PM | Kerckhoff Grand Salon
		%h5
			Speaker List
		%p
			Coming soon!
		%span.tag
			RSVP #{link_to 'HERE', 'https://www.eventbrite.com/e/engineers-for-professional-equality-conference-tickets-32413899847'}

	