---
title: EPEC
bgcolor: "#584A6A"
bgimage: "/images/gear-overlay.png"
splashtext: "Engineers for Professional Equality"
---

.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-6.small-12.columns.content-img{"data-equalizer-watch" => ""}
		= image_tag "/images/epec/new-epec-logo.png"
	.large-6.small-12.columns{"data-equalizer-watch" => ""}
		%p 
			EPEC is a conference for students that aims to empower women and other marginalized groups in STEM by promoting diversity and inclusion. Experienced engineers will speak on a panel and give a series of workshops on topics relating to diversity in industry. Attendance is free and lunch will be provided!  Check out our #{link_to 'Facebook event', 'https://www.facebook.com/events/648260758880169/'} for the latest updates on this year's EPEC.
.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-12.columns{"data-equalizer-watch" => ""}
		%h2.center-text
			Engineers for Professional Equality 2018
		%h3.center-text
			Sunday, May 6th, 2018 | 10AM - 4PM | Carnesale Commons, Palisades Room
		/ %h5
		/ 	Speaker List
		.large-6.small-12.columns.content-img{"data-equalizer-watch" => ""}
			= image_tag "/images/epec/epec-fb-banner.jpg"
		%p
			Come kick it with SWE, USAC, NSBE, SASE, ACM, Bruin Entrepreneurs, and so many other awesome orgs as we ignite conversations surrounding professional equity. Help us actively eliminate the injustices minorities face across the academic and professional workspaces. Network with and listen to the experiences of executives, entrepreneurs, engineers, and physicians from companies including (but definitely not limited to) SpaceX, Raytheon, and UCLA's very own Medical School. Engage in workshops that will expand your skill set and equip you with the tools you need to succeed at all professional levels. 
		%span.tag
			RSVP #{link_to 'HERE', 'https://goo.gl/forms/GRwwzZRV6c51hpVz2'} by Thursday, May 3 and be automatically entered into a raffle for some amazing prizes!

	