---
title: EWI
bgcolor: "#E57D3C"
bgimage: "/images/gear-overlay.png"
splashtext: "<br> Evening With Industry"
---

.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-6.columns.content-img{"data-equalizer-watch" => ""}
		= image_tag "/images/ewi/ewi2017/EWI2017_3.jpg"
	.large-6.columns{"data-equalizer-watch" => ""}
		%p
			Evening with Industry (EWI) is the largest student-run networking event for 
			UCLA's School of Engineering, hosted exclusively by SWE during the Winter quarter. 
			It boasts an attendance of over 35 companies and 250 students annually. Company 
			representatives and students alike enjoy the unique networking style this event 
			provides - the night begins with networking over appetizers, after which students 
			enjoy connecting over a 3-course meal with representatives from a company they are 
			interested in. The night then ends with a private career fair where companies can 
			get connected with the other 200 students. Check out our 
			#{link_to 'Facebook page', 'https://www.facebook.com/ucla.swe.ewi/'} for the 
			latest updates on this years EWI. 

.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-4.columns{"data-equalizer-watch" => ""}
		= image_tag "/images/ewi/ewi_logo.png"
	.large-8.columns{"data-equalizer-watch" => ""}
		%h2 
			Evening with Industry 2017
		%h3
			Thursday, February 2nd
			%br 
			Carnesale Commons
			%br 
			%br 
			Event Photos
			
.row.margin-bottom-m{"data-equalizer" => ""}
	.large-12.columns{"data-equalizer-watch" => ""}
		.EWI-photo-1
			%img{:src => "/images/ewi/ewi2017/EWI2017_1.jpg"}
		%p.center-text
		%br 
		.EWI-photo-2
			%img{:src => "/images/ewi/ewi2017/EWI2017_2.jpg"}
		%p.center-text