---
title: EWI
bgcolor: "#584A6A"
bgimage: "/images/gear-overlay.png"
splashtext: "<br> Evening With Industry"
---

.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-6.columns.content-img{"data-equalizer-watch" => ""}
		= image_tag "/images/ewi/ewi_photo_1.jpg"
	.large-6.columns{"data-equalizer-watch" => ""}
		%p 
			Evening with Industry (EWI) is the largest student-run networking event for UCLA's School of Engineering, hosted exclusively by SWE during the Winter quarter. It boasts an attendance of over 35 companies and 250 students annually. Company representatives and students alike enjoy the unique networking style this event provides - the night begins with networking over appetizers, after which students enjoy connecting over a 3-course meal with representatives from a company they are interested in. The night then ends with a private career fair where companies can get connected with the other 200 students. Check out our #{link_to 'facebook page', 'https://www.facebook.com/ucla.swe.ewi/'} for the latest updates on this years EWI. 

.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-4.columns{"data-equalizer-watch" => ""}
		= image_tag "/images/ewi/ewi_logo.png"
	.large-8.columns{"data-equalizer-watch" => ""}
		%h2 
			Evening with Industry 2017
		%h3
			Thursday, February 2nd
			%br 
			Carnesale Commons

		%h5 How to Purchase Tickets:
		%ul
			%li 
				Register #{link_to 'here', 'https://sweewi.typeform.com/to/Cs2EOQ'}
			%li 
				Purchase your tickets at EWI table located at the corridor outside SEAS Cafe (5th floor Boelter Hall).
				%b CASH ONLY.
		Ticket sales begin the first week of winter quarter and increase every week! Ticket prices are the following each week:
		%br (pricing - SWE Member/Non-SWE Member) 
		%br 
		%b Week 1:
		$10/$15
		%br
		%b Week 2:
		$15/$20
		%br
		%b Week 3:
		$20/$25

.row
	.large-12.columns
		%h1 Attending Companies
		%iframe#companies{:src => "https://docs.google.com/document/d/1_TLG69fJoCnZh2NK4srgMcErloqD86i1H0JyUPX2b8k/pub?embedded=true"}
	