---
title: WESP
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "Women in Engineering Stayover Program"
---

.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-12.small-12.columns{"data-equalizer-watch" => ""}
		%h1
			Women in Engineering Stayover Program
		%h2 
			Saturday, April 8 - Sunday, April 9
		%span.tag
			Note: This event is for admitted students only. Family members of students will have to make other arrangements to stay overnight.
		%p 
			Female engineering students and faculty will discuss their decision to become engineers and their experiences as females engineers at UCLA’s Henry Samueli School of Engineering through this overnight program. Participants will be hosted by current female engineering students in the dorms. They will have dinner with their hosts and select faculty in the residential dining halls and then participate in a scavenger hunt, get Diddy Riese cookies, and other activities.
			%br 
			%br
			#{link_to 'Agenda for the event', '/content/agenda.pdf'}
			%br 
			%br 
			Registration is on a rolling basis. Please RSVP #{link_to 'here', 'https://www.admission.ucla.edu/myApplication/Login.aspx'} 
			%br 
			%br 
			Questions? Please email #{link_to 'wesp.swe.ucla@gmail.com', 'mailto:wesp.swe.ucla@gmail.com'}
.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-12.columns{"data-equalizer-watch" => ""}
		%h2.center-text 
			FAQ
		%h5
			Will the event conflict with Bruin Day?
		%p
			No! The event is the weekend before Bruin Day, so you won't be missing out on any of the other amazing programs happening during Bruin Day.
		
		%h5
			How much does the event cost?
		%p
			It's completely free for you!
		
		%h5
			Does going to this event mean I'm committing to UCLA?
		%p
			No it doesn't! This is just an opportunity for you to see what it would be like to be a student here!

		%h5
			Where will I/my student be staying for the night?
		%p
			They'll be staying in the dorm room of a female engineering student at UCLA, who will act as their guide for the night's activities
		
		%h5
			What do I need to bring?
		%p
			Sleeping bag, photo ID, toiletries (soap , shampoo, toothbrush, towel, etc), shower shoes (flip flops), change of clothes, some spending money (optional)
		
		%h5
			If spots are limited, how do I know that I have a spot to attend the program? Is there a waitlist? 
		%p
			We will send you a confirmation email if you are guaranteed a spot in the program. You will receive a separate email if you are on the waitlist; if we receive any last-minute cancellations, we will let you know. We hope to give you a few days' notice so that you have time to make arrangements.
		
		%h5
			How do I get there? 
		%p
			You can find a map of the UCLA campus and parking structures #{link_to 'here', 'http://www.ucla.edu/pdf/ucla-campus-map.pdf'}. We recommend parking in lots 4 or 7.

		