---
title: WESP
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "Women in Engineering Stayover Program"
---

.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-12.small-12.columns{"data-equalizer-watch" => ""}
		%h1.center-text
			Women in Engineering Stayover Program 2018
		%h2 
			Saturday, April 14 - Sunday, April 15
		%span.tag
			Note: This event is for admitted students only. Family members of students will have to make other arrangements to stay overnight.
		%p 
			All female engineering admits are welcomed to UCLA at the fourth annual Women in Engineering Stayover Program! Come learn about why our students love being a Bruin, and how UCLA Engineering could be the right fit for your undergraduate experience! Participants will be hosted by current female engineering students in the dorms. The event will include special opening presentation and tours of the engineering department, dinner with UCLA faculty,  an exciting scavenger hunt, an ice cream sandwich party, a photobooth, and much more!
			%br 
			%br
			#{link_to 'Agenda for the event can be found here.', '/content/wesp-agenda.pdf'}
			%br 
			%br 
			Registration is on a rolling basis. Please RSVP #{link_to 'here', 'https://www.admission.ucla.edu/myApplication/Login.aspx'} 
			%br 
			%br 
			Questions? Please email #{link_to 'wesp.swe.ucla@gmail.com', 'mailto:wesp.swe.ucla@gmail.com'}
		%p
			Check out some highlights from WESP 2017 last year! We had a blast during our professor dinner, scavenger hunt, and succulent painting party!
			<iframe src="https://drive.google.com/file/d/0B04XjMbZ_AqcTHEyOVVxenlWWjg/view" width="1000" height="600"></iframe>
		%p.center
.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-12.columns{"data-equalizer-watch" => ""}
		%h2.center-text 
			FAQ
		%h5
			Will the event conflict with Bruin Day? Or Discover UCLA Engineering Day?
		%p
			No! WESP will start after Bruin day at 4:00pm, and end in the morning before Discover UCLA Engineering Day! Students will be escorted by hosts over to Discover UCLA Engineering Day on the morning of the 15th to meet their parents. However, admits are not required to attend Bruin Day or Discover UCLA Engineering to participate in WESP..
		
		%h5
			How much does the event cost?
		%p
			It's completely free for you!
		
		%h5
			Does going to this event mean I'm committing to UCLA?
		%p
			No it doesn't! This is just an opportunity for you to see what it would be like to be a student here!

		%h5
			Where will I/my student be staying for the night?
		%p
			They'll be staying in the dorm room of a female engineering student at UCLA, who will act as their guide for the night's activities.
		
		%h5
			What do I need to bring?
		%p
			Sleeping bag, photo ID, toiletries (soap , shampoo, toothbrush, towel, etc), shower shoes (flip flops), change of clothes, some spending money (optional)
		
		%h5
			If spots are limited, how do I know that I have a spot to attend the program? Is there a waitlist? 
		%p
			We will send you a confirmation email if you are guaranteed a spot in the program. You will receive a separate email if you are on the waitlist; if we receive any last-minute cancellations, we will let you know. We hope to give you a few days' notice so that you have time to make arrangements.
		
		%h5
			How do I get there? 
		%p
			You can find a map of the UCLA campus and parking structures #{link_to 'here', 'http://www.ucla.edu/pdf/ucla-campus-map.pdf'}. We recommend parking in lots 4 or 7.

		