---
title: WESP
bgcolor: "#584A6A"
bgimage: "/images/gear-overlay.png"
splashtext: "Women in Engineering Stayover Program"
---

.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-6.columns.content-img{"data-equalizer-watch" => ""}
		= image_tag "/images/epec/epec-full-color.png"
	.large-6.columns{"data-equalizer-watch" => ""}
		%p 
			Hosted by UCLA's chapter of the Society of Women Engineers, EPEC empowers women in STEM industries and encourages men and women to support one another. Our past conferences featured speakers from Google, Walt Disney, Tesoro, and many more! Check out our #{link_to 'facebook page', 'https://www.facebook.com/SWE.UCLA.EPEC/'} for the latest updates on this years EPEC.
.content-panel.row{"data-equalizer" => "",  "data-equalize-on" => "767px"}
	.large-12.columns{"data-equalizer-watch" => ""}
		%h2 
			Engineers for Professional Equality 2017
		%h3
			Spring Quarter
			
		This event is designed to empower women in engineering industry and enable men and women to coexist in the workplace. There will be a panel, where company representatives will discuss their experiences in industry relating to gender descrimination, how they responded to those situations, and some strategies regarding how both genders can succeed in the same work environment. Following, they will lead several rounds of hands-on workshops, where further discussion about more problem solving techniques will take place.

	