// VARIABLES: 
$nav-background: rgba(0, 0, 0, 0);
$dropdown-background: rgba(88, 74, 106, .5);

// SMALL NAVIGATION
.logo-small {
	float: right; 
	max-height: 40px;
	max-width: 100px;
}

.title-bar {
	padding: 0.5rem;
	z-index: 1000;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}

// MEDIUM-UP NAVIGATION
@media only screen and (min-width: 40rem) { 
  
	.logo-wrapper 
	{
		position: relative;
		.logo 
		{
			margin-right: 1.5em;
			max-height: 75px;
			max-width: 200px;
			float: left;
		}
	}

	// A lil hack to change the arrows white
	.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after 
	{
		border-color: white transparent transparent;
	}

	.top-bar 
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: baseline;
		position:relative;
		z-index: 1000;
		background: $nav-background;
  		
  		.top-bar-left
  		{

    		a 
    		{
    			color: #fff;
    		}

  			ul 
  			{
  				background-color: $nav-background;
  			}

  			// Remove submenu border
  			.is-dropdown-submenu
  			{
  				border: 0px;
  			}

  			/* DROP DOWN */
		    li 
		    {

		    	a:hover
		    	{
		    		background: $dropdown-background;
		    		border-radius: 15px;
		    	}

		    	/* DROP DOWN SUBMENU */
		    	.submenu li 
		    	{
		    		a
		    		{
  						margin-bottom: 0.1em;
		    			padding: 0.3em 1em 0.3em 1em;
		    		}
		    		a:hover
		    		{
		    			background: #fff;
		    			color: #000;
		    		}
		    	}
    		}
		}
	}
}
