// VARIABLES: 
$nav-background: #F3F2F6;
$dropdown-background: #dcc554;
$dropdown-arrow: #584A6A;
$link: #5b5478;

// SMALL NAVIGATION
.logo-small {
	float: right; 
	max-height: 40px;
	max-width: 100px;
}

.title-bar {
	padding: 0.5rem;
	z-index: 1000;
	background: $dropdown-arrow;
}

.menu-icon,
.title-bar-title {
  position: relative;
  top: 10px;
}


// MEDIUM-UP NAVIGATION
@media only screen and (min-width: 40rem) { 

	.nav-wrapper {
		position: relative;
		width: 100%;
		height: 150px;
	}
  
	.logo-wrapper 
	{
		position: relative;
		.logo 
		{
			max-width: 200px;
		}
	}

	// A lil hack to change the drop down arror colors
	.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after 
	{
		border-color: $dropdown-arrow transparent transparent;
	}

	.top-bar 
	{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		position:relative;
		padding: 1em;
		z-index: 1000;
		background: $nav-background;
		font-family: 'Montserrat', sans-serif;
  		
  		.top-bar-left
  		{

    		a 
    		{
    			font-size: 1.2rem; 
    			color: $link;
    		}

  			ul 
  			{
  				background-color: $nav-background;
          list-style: none;
  			}

  			// Remove submenu border
  			.is-dropdown-submenu
  			{
  				border: 0px;
  			}

  			/* DROP DOWN */
		    li 
		    {
          list-style: none;
		    	a:hover
		    	{
		    		background: $dropdown-background;
		    		color: #fff;
		    		//border-radius: 15px;
		    	}

		    	/* DROP DOWN SUBMENU */
		    	.submenu li 
		    	{
		    		a
		    		{
		    			font-size: 1rem;
  						margin-bottom: 0.1em;
		    			padding: 0.3em 1em 0.3em 1em;
		    		}
		    		a:hover
		    		{
		    			background: $dropdown-background;
		    			color: #fff;
		    		}
            list-style: none;
		    	}
    		}
		}
	}
}
