.row.margin-bottom-m.img-panel{"data-equalizer" => ""}
    .large-8.columns{"data-equalizer-watch" => ""}
        %h1 How to Join SWE
        %p 
            = lorem.paragraphs 2
    .large-4.columns{"data-equalizer-watch" => ""}
        %img{:src => "http://loremflickr.com/1000/650"}

    