---
title: Join SWE-UCLA
bgcolor: "#584A6A"
bgimage: "/images/gear-overlay.png"
splashtext: "<br> How to Join SWE"
---
.row.margin-bottom-m{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 How to Join Online
        %ol
            %li Go to #{link_to 'www.swe.org', 'https://www.swe.org'}, scroll over the MEMBERSHIP tab and click Join
            %li A login page appears scroll down and click Become a Member (Non-member)
            %li Enter your email and name click next
            %li Create profile with California, Los Angeles, University of as your University or College 1
            %li Click Save My Profile once all required boxes (*) are filled in
            %li 
                Choose:
                %ol
                    %ul New Collegiate Membership in SWE: $20 (1 year membership)
                    %ul Collegiate to Career Membership in SWE: $50 (Entire collegiate career membership!)
            %li Click "Continue" and select "Chapter B054 - California, Los Angeles, University of"
            %li Click "Continue" and pay fee using your credit card
            %li Email the SWE Secretary at secretary.swe.ucla@gmail.com to confirm your registration (please attach a copy of your receipt)
.row.margin-bottom-m{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 Reasons to Join 
        %ol
            %li Discounts for major SWE events (like Evening with Industry, EWI, the largest student-run engineering event at UCLA that brings in over 30 companies and 250 students annually)
            %li Expand your network through our mentorship program, socials, outreach events and committee positions
            %li FREE FOOD at general meetings, info sessions, socials, mentorship events, and more
            %li Professional development, career, and internship opportunities at info sessions, Boeing Etiquette Dinner, and EWI
            %li Travel and gain valuable industry contacts at our Local, Regional and National Conferences
            %li Money, money, money! Just apply to our scholarships on the SWE website and weekly emails
            %li Gain leadership experience through committee and officer positions
            %li Inspire young women to join STEM fields at our outreach events
            %li Explore industry by attending private company tours
            %li Take a break and have fun at social events
            %li Join Team Tech for industry contact, and technical, leadership, and team work experience
            %li Get to be in the know about available job opportunities through our weekly email and website


    