---
title: Mission Statement
bgcolor: "#584A6A"
bgimage: "/images/gear-overlay.png"
splashtext: "Our Mission Statement"
---
.row.margin-bottom-m{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 SWE's Mission
        %p
            SWE is a not-for-profit educational and service organization that empowers women to succeed and advance in the field of engineering, and to be recognized for their life-changing contributions as engineers and leaders. Founded in 1950, SWE is the driving force that establishes engineering as a highly desirable career for women through an exciting array of training and development programs, networking opportunities, scholarships, outreach and advocacy activities, and much more.

.row.margin-bottom-m{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 SWE-UCLA's Mission
        %ul.week-events
        %p 
            SWE-UCLA aims to bring professional development opportunities to UCLA while advocating for the creation of an equal platform for all in engineering.
