---
title: Mission Statement
bgcolor: "#584A6A"
bgimage: "/images/gear-overlay.png"
splashtext: "Our Mission Statement"
---
.row.margin-bottom-m{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 SWE's Mission
        %p
            SWE is a not-for-profit educational and service organization that empowers women to succeed and advance in the field of engineering, and to be recognized for their life-changing contributions as engineers and leaders. Founded in 1950, SWE is the driving force that establishes engineering as a highly desirable career for women through an exciting array of training and development programs, networking opportunities, scholarships, outreach and advocacy activities, and much more.

.row.margin-bottom-m{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 SWE's UCLA Mission
        %ul.week-events
            %li To stimulate women to achieve full potential in careers as engineers and leaders, expand the image of the engineering profession as a positive force in improving the quality of life, and demonstrate the value of diversity.
            %li To inform young women, their parents, counselors, and the general public of the qualifications and achievements of women engineers and the opportunities open to them.
            %li To assist women engineers in readying themselves for a return to active work after temporary retirement.
            %li To serve as a center of information on women in engineering.
            %li To encourage women engineers to attain high levels of education and professional achievement.
