---
title: SWE UCLA
bgcolor: "#81c4ec"
bgimage: "/images/gear-overlay.png"
splashtext: "Advocacy Committee"
---

.row.margin-bottom-m.img-panel{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 About the Committee
        %h5 Promoting gender equality and women empowerment
        %p 
            The Advocacy Committee is brand new committee to SWE-UCLA. Our mission is to promote gender equality and women empowerment in the engineerig field. We host events every quarter to try to spread this message, all leading up to our main event, the #{link_to 'Engineers for Professional Equality Conference', '/events/epec'} in the spring. The Advocacy Committee will be accepting applicants during both Fall and Winter Quarters to allow students multiple chances to get involved in SWE throughout the year.