---
title: SWE UCLA
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "Advocacy Committee"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 
      About the Committee
    %h5 Promoting gender equality and women empowerment
    %p 
      The Advocacy Committee serves as the vocal chord both on- and off-campus for SWE-UCLA. Our mission is to (you guessed it) 
      <i>advocate</i> for the inclusion and success of underrepresented communities across STEM––particularly women in engineering. 
      We do so through a series of quarterly events, all of which lead up to our flagship 
      #{link_to 'Engineers for Professional Equality Conference', '/events/epec'}.
    <style> div.photos {display:inline-block; float:left; text-align:center;} </style>
    %div#photos
      %img.ILLAN-photo-1(src="/images/committee/advocacy/ILookLikeAnEngineer2017.png" width="40%" style="padding-left:100px")
      %img.ILLAN-photo-2(src="/images/committee/advocacy/ILookLikeAnEngineer2017_2.png" width="50%")
    %p.center
    %p 
      This year, the Advocacy Committee wants to expand its outreach across campus and begin voicing our concerns to members 
      across the LA and broader California community. We hope to do so through a <i>three-pronged approach</i>:
    %p 
    %ul.advocacy-list-1(style="padding-left:80px;padding-right:80px")
      %li
        %i
          Highlighting intersectionality: 
        Many women in engineering face difficulties entering their respective fields because their identities encompass more than one 
        underrepresented demographic in STEM. This year we want to make it our duty to spread awareness about this diversity and discuss 
        solutions to the difficulties one may face because of their supposed “untraditional” background. </br>
      %li
        %i
          Destigmatizing issues surrounding mental health and wellness:
        The first step in advocating for our women is to ensure a solid foundation built on self-confidence and a healthy desire to 
        grow––both as individuals and members of our broader global community. Raising awareness about the obstacles one may face as she 
        embarks upon her journey as an engineer is critical to ensuring her success in the future.</br>
      %li
        %i
          Bringing diversity in tech to the forefront of statewide policy:
        Our job as members of SWE is not only to embolden engineers currently pursuing their degrees in STEM, but also to pave the way 
        for female engineers to come. Over the course of the next year and a half, we hope to work with local assembly members and 
        members of Congress to allocate funding and introduce programs to diversify the STEM world and unleash even more potential.
    .photoset-2
      %img.photo-2(src="/images/committee/advocacy/DeanMurthy2017.png" width="80%" style="padding-left:180px")
    %p.center
    %p
      Some upcoming events include:
    %p 
    %ul.advocacy-list-2(style="padding-left:80px;padding-right:80px")
      %li
        %i
          #{link_to 'Engineers for Professional Equality Conference', '/swe/events/epec'}:
        SWE-UCLA’s flagship conference highlighting the diversity across the engineering workforce. This year we hope to broaden the 
        scope of the conference by partnering with other diversity-focused on-campus organizations and larger corporations to bring in 
        an engaging group keynote speakers and panelists. </br>
      %li
        %i
          Member Interview Series: 
        A series of videos that will introduce the broader UCLA community to members of SWE-UCLA and highlight the broad range of races, 
        religions, ethnicities, interests, and backgrounds our female engineers encompass.</br>
      %li
        %i
          Mental Health Awareness Week:
        A week where SWE members help bring awareness to the abundance of resources available on campus and hold workshops with advice on 
        how to deal with the stresses that often accompany the rigorous UCLA Engineering curriculum.</br>
      %li
        %i
          Mentorship Program:
        The culmination of Mental Health Awareness Week, this program pairs an underclassman with an upperclassman so she can receive 
        guidance and support from someone who has already experienced the very things she may be going through––academically, 
        intellectually, and, most importantly, developmentally.</br>
      %li
        %i
          Lobbying with local Congressmen and Congresswomen:
        In conjunction with the Outreach Committee, we look forward to fostering relationships between SWE-UCLA members and elected 
        officials to bring equality and diversity in STEM, as well as technology education, to the forefront of policy formation.
    %div#photos
      %img.end-photo-1(src="/images/committee/advocacy/EPEC2017.png" width="50%")
      %img.end-photo-2(src="/images/committee/advocacy/Workshop2017.png" width="45%")
    %p.center
    %p
      The Advocacy Committee will be accepting applicants during Fall Quarter to allow students multiple chances to get involved 
      in SWE throughout the year.
    %h2.center-text
      2016 - 2017 Advocacy Committee
    .committee-photo
      %img.committee-photo-img{:src => "/images/committee/advocacy/committee1617.jpg"}
    %p.center