---
title: SWE UCLA
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "Advocacy"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 
      Advocacy Committee
    %h5 Advocating for diversity and inclusion in STEM
    %p 
      The Advocacy Committee advocates for a shift in mindset regarding STEM diversity within the UCLA community and beyond. 
      We work towards promoting and inspiring engineers from underrepresented backgrounds to be empowered and break barriers 
      within their field. 
    %p
    
    %h5 What we do
    %p
    %ul.advocacy-list-2(style="padding-left:20px; padding-right:80px")
      %li
        %i
          #{link_to 'Engineers for Professional Equality Conference', '/swe/events/epec'}:
        SWE-UCLA’s flagship conference highlighting the diversity across the engineering workforce. This year we hope to broaden the 
        scope of the conference by partnering with other diversity-focused on-campus organizations and larger corporations to bring in 
        an engaging group keynote speakers and panelists. </br>
    
      %li
        %i
          Member Interview Series: 
        A series of videos that will introduce the broader UCLA community to members of SWE-UCLA and highlight the broad range of races, 
        religions, ethnicities, interests, and backgrounds our female engineers encompass.</br>
      %li
        %i
          Mental Health Awareness Week:
        A week where SWE members help bring awareness to the abundance of resources available on campus and hold workshops with advice on 
        how to deal with the stresses that often accompany the rigorous UCLA Engineering curriculum.</br>
      %li
        %i
          Mentorship Program:
        The culmination of Mental Health Awareness Week, this program pairs an underclassman with an upperclassman so she can receive 
        guidance and support from someone who has already experienced the very things she may be going through––academically, 
        intellectually, and, most importantly, developmentally.</br>
      %li
        %i
          Lobbying with local Congressmen and Congresswomen:
        In conjunction with the Outreach Committee, we look forward to fostering relationships between SWE-UCLA members and elected 
        officials to bring equality and diversity in STEM, as well as technology education, to the forefront of policy formation. </br>
    %p.center

    %h5 Fall 2020 applications

    %p
      As a committee member, you will be integral in innovating, planning, developing, and promoting (virtual) events that 
      will have a major impact on students and faculty at UCLA. You will also have the opportunity to expand your reach by 
      joining/planning our lobbying trips to Sacramento and/or D.C.! 
    %p
    %p
      Click <a href = "https://docs.google.com/document/d/1M5zdlRcZ9SViq3pyl860WZxbdWWOMgjX3FnsX1D8n7U/edit?usp=sharing">here</a> to learn more about committee roles. </br>
      Click <a href = "https://tinyurl.com/swe-advocacy-2020"> here </a> to apply! </br>
    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Thursday, 10/15:
          Application due. </br>
        %li
          %b 
            Saturday, 10/17:
          Interview invitations sent out. </br>
        %li
          %b 
            Week 3:
          Interviews. </br>
        %li
          %b 
            Saturday, 10/24:
          Decisions sent out. </br>
    %p  
    