---
title: SWE UCLA
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "Dev Team"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 
      Dev Team
    %h5 Improving the SWE website to positively impact user experience
    %p 
      Dev Team works on two main projects! Firstly, we have been developing a Member Portal, where SWE members can log
      events they've attended and view upcoming events. Additionally, this portal contains EWI features that allows students
      attending EWI to register for the event and view company listings. Secondly, we plan to redesign the SWE UCLA website
      this year, so that it is more ~aesthetic~ and easier to navigate through. 
    %p
      View our <a href = "https://tinyurl.com/SWE-Dev-Team-2020"> Github </a> to see what we're up to!
  
    %h5 Fall 2020 applications
    %p
      We are currently only accepting applications to be involved in our second project (redesigning the SWE UCLA website). 
      As a member of this project on Dev Team, you will gain experience in UI design and web development, including JavaScript and HTML. 
      If you're interested in developing these skills and learning, apply to Dev Team!
    %p
    %p
      Click <a href = "https://tinyurl.com/SWE-Dev-Team-2020"> here </a> to apply! </br>
    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Thursday, 10/15:
          Application due. </br>
        %li
          %b 
            Friday, 10/16:
          Interview invitations sent out. </br>
        %li
          %b 
            Saturday, 10/17 and Sunday, 10/18:
          Interviews. </br>
        %li
          %b 
            Monday, 10/19:
          Decisions sent out. </br>
        %li
          %b 
            Tuesday, 10/20 @ 6:30 PM PST:
          First committee meeting. </br>
    %p  
    
    