---
title: SWE UCLA
bgcolor: "#E63F52"
bgimage: "/images/gear-overlay.png"
splashtext: "EWI Committee"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 About the Committee
    %p 
      The EWI committee is responsible for the planning and logistics of 
      #{link_to 'Evening With Industry', '/swe/events/ewi'} - the largest student-run networking event 
      on campus. Under the guidance of our Internal and External EWI Co-Chairs, each committee member 
      is given a specific role with important responsibilities that are crucial to EWI's success. 

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h2.center-text
      2017 - 2018 EWI Committee
    .committee-photo
      %img.committee-photo-img{:src => "/images/committee/ewi/committee.JPG"}
    %p.center-text
      Front: Jessie Liu (Design/Media), Catherine Choe (Design/Media), Madalyn Johnson (Logistics), Akshara Sundararajan (Student Liaison)
      %br 
      Back: Kristi Richter (Corporate Relations), Manas Kumar (External Director), Sohni Thakkar (Internal Director), Chase Martens (Publicity)
