---
title: SWE UCLA
bgcolor: "#E63F52"
bgimage: "/images/gear-overlay.png"
splashtext: "Evening With Industry"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 Evening With Industry (EWI) Committee
    %h5 The largest student run networking event on campus
    %p 
      Evening With Industry is a networking event during winter quarter that traditionally includes 3 parts: networking over appetizers, a 3 course dinner with a company of 
      interest, and a private career fair. This year, the event will be entirely virtual, and committee members will get 
      to help plan the logistics of this virtual event, publicize the event to students, and organize registration from 
      both students and companies.

    %h5 What we do
    %p 
      The EWI Committee primarily plans and runs Evening With Industry, including corporate relations, publicity, logo design, food, 
      decorations, and logistics on the day of. We also host various professional skills development workshops leading up to and after
      the Evening With Industry event. 
    
    %h5 Fall 2020 applications
    %p 
      On the EWI committee, you will get to help plan and run professional development 
      workshops! If you’re passionate about serving the community through planning events and workshops to help our friends 
      in engineering jumpstart their careers, apply for the EWI committee!
    %p
      Click <a href = "http://tinyurl.com/EWICommitteeRoles">here</a> to learn more about committee roles. </br>
      Click <a href = "https://tinyurl.com/EWICommitteeApps"> here </a> to apply! </br>

    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Tuesday, 10/13:
          Application due. </br>
        %li
          %b 
            Wednesday, 10/14:
          Interview invitations sent out. </br>
        %li
          %b 
            Thursday, 10/15 and Friday, 10/16:
          Interviews. </br>
        %li
          %b 
            Saturday, 10/17:
          Decisions sent out. </br>
        %li
          %b 
            Sunday, 10/18 from 4:30 - 6:30 PM PST:
          First committee meeting. </br>
    %p  

