---
title: SWE UCLA
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "SWE Families"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 
      SWE Families
    %h5 Finding a home within UCLA 
    %p 
      SWE welcomes all ages, genders, and majors to participate in SWE Families, a program that matches SWE members 
      together for fun social events and bonding throughout the year.  

    %h5 What we do
    %p 
      Families can choose to compete in a friendly competition for points against other families by facilitating 
      participating in group bonding events such as game nights, arts and crafts nights, dressing up together for 
      Halloween and much more for a prize at the end of the quarter. While anyone can join SWE Families throughout 
      the year, we highly recommend joining earlier to get to know the SWE community better. Many students have found 
      lifelong friendships, connections, and helpful mentors through this program.
    
    %h5 Fall 2020 applications
    %p 
      Sign up to be a SWE Family member to meet wonderful people and find amazing mentors. 
    %p
      Click <a href = "http://tinyurl.com/SWEFamily20"> here </a> to apply! </br>
    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Thursday, 10/15:
          Application due. </br>
        %li
          %b 
            Sunday, 10/18 @ 7 PM PST:
          SWE Families Kick Off. Join us for a virtual game night! </br>
    %p  
    