---
title: SWE UCLA
bgcolor: "#9B4755"
bgimage: "/images/gear-overlay.png"
splashtext: "Internal Affairs"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1
      Internal Affairs Committee
    %h5 Strengthening bonds between SWE members
    %p
      The Internal Affairs Committee works to strengthen the bonds between SWE members by hosting various inter-committee andd member
      socials and contributes to our growing community of women empowerment. 

    %h5 What we do
    %p
      The Internal Affairs Committee plans SWE general events, including Dinner with Professors and LinkedIn headshots,
      as well as inter-committee social events, such as yoga socials, movie premiers, and paint nights. 
    
    %h5 Fall 2020 applications
    %p
      As a committee member, we want to bring your ideas and initiatives to life. If you're interested in developing leadership skills 
      in event planning and getting know lots of wonderful new people, the Internal Affairs committee is for you!
    %p
    %p
      Click <a href = "http://tinyurl.com/InternalAffairs2020"> here </a> to apply! </br>
    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Friday, 10/23:
          Application due. </br>
        %li
          %b 
            Week 4:
          Interviews. </br>
        %li
          %b 
            Saturday, 10/31:
          Decisions sent out. </br>
    %p  
