---
title: SWE UCLA
bgcolor: "#9B4755"
bgimage: "/images/gear-overlay.png"
splashtext: "Internal Affairs Committee"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1
      About the Committee
    %p
      The Internal Affairs Committee works to strengthen the bonds between SWE members by hosting various inter-committee socials,
      including cookie decorating socials and SWE Dates. The committee has also put on a series of workshops to help SWE member succeed
      professionally, including an Internship Panel and How to Have a Productive Summer workshop.

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h2.center-text
      2017 - 2018 Internal Affairs Committee
    .committee-photo
      %img.committee-photo-img{:src => "/images/committee/rachelcommittee.JPG"}
    %p.center-text
      Top row, left to right: Rachel Bax, Sharvani Jha, Camryn Lopez, Sarah Chung
      %br
      Bottom row, left to right: Erica Vellanoweth, Jennifer Bui, Rachel Ehrlich, Isabel Ketner
