---
title: SWE UCLA
bgcolor: "#9B4755"
bgimage: "/images/gear-overlay.png"
splashtext: "Major Committee"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 
      About the Committee
    %p 
      Major committee is responsible for running our annual Major Fair - an event dedicated to showcasing the different engineering majors and their associated student clubs. Major committee assists undeclared students or students interested in switching majors through additional events like our quarterly Major Dinner. 

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h2.center-text
      2016 - 2017 Major Committee
    .committee-photo
      %img.committee-photo-img{:src => "/images/committee/major.jpg"}
    %p.center-text
     