---
title: SWE UCLA
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "Mentorship"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 
      Mentorship Committee
    %h5 Providing mentorship to all undergraduate engineers
    %p
      The Mentorship Committee works with industry mentors, students, and other student organizations to host events
      that provide guidance to all our undergraduate engineers.
        
    %h5 What we do
    %p
      We organize the Summer Mentorship Program to help incoming first year women engineers adjust to college, the Industry
      Professional Mentorship Program which pairs undergraduate students with professionals in their field, 
      and Spring Mentorship events. 
      
    
    %h5 Fall 2020 applications
    %p
      As a committee member, you will be integral in planning, developing, and promoting (virtual) events that support the
      learning and adjustment of many undergraduate students. We want you to plan unique mentorship event ideas! 
    %p
    %p
      Click <a href = "https://tinyurl.com/MentorshipCommittee20"> here </a> to apply! </br>

    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Thursday, 10/15:
          Application due. </br>
    %p  