---
title: SWE UCLA
bgcolor: "#81c4ec"
bgimage: "/images/gear-overlay.png"
splashtext: "Outreach Committee"
---

.row.margin-bottom-m.img-panel{"data-equalizer" => ""}
    .large-12.columns{"data-equalizer-watch" => ""}
        %h1 About the Committee
        %h5 Introducing young females to STEM
        %p 
            The Outreach Committee strives to encourage and support elementary through high school students to become involved in STEM (Science, Technology, Engineering, Math) fields. We host three main events throughout the academic year in order to achieve this goal: High School Lab Tours, Wow! That's Engineering, and the Women In Engineering Stayover Program. These events are planned and executed by the Outreach Committee which is comprised of six to eight undergraduate SWE members. We welcome all engineering disciplines and grades to join this committee in order to inspire the next generation of engineers. Check out our blog #{link_to 'The Little Tinkerer', 'https://littletinkerer.blogspot.com'} as well! 