---
title: SWE UCLA
bgcolor: "#4497CB"
bgimage: "/images/gear-overlay.png"
splashtext: "Outreach Committee"
---

.row.margin-bottom-m.img-panel{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 About the Committee
    %h5 Introducing young females to STEM
    %p 
      SWE’s Outreach Committee strives to encourage and support elementary through high school students to become involved 
      in STEM (Science, Technology, Engineering, Math) fields. We work with prospective students, parents, and youth to 
      spread empowerment and inspiration for pursuing engineering careers.
    %p 
      Our diverse committee, comprised of all engineering disciplines and grade levels, is dedicated to putting on events 
      that both excite and inspire the next generation of engineers. This team of six to eight undergraduate students is 
      responsible for planning and executing large outreach events throughout the school year. These include a overnight 
      program for over 60 admitted students, an engineering day for local girl scout groups, engineering tours for high 
      schools, and much more.
    %p
      Here are some highlights from two of our favorite events:
.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h2.center-text
      WOW! That’s Engineering Day
    %p
      For this event we welcome over 100 Girl Scouts to our campus for a day full of excitement and challenges in which they 
      get to discover what it’s like to be an engineer. The day is packed full of activities a student question and answer 
      panel, and a special guest speaker. This past year our challenges involved building a rollercoaster, extracting strawberry 
      DNA, and building durable boats!
    <style> div.photos {display:inline-block; margin-left: 50; text-align:center;} </style>
    %div#photos
      %img.wow-photo-1(src="/images/committee/outreach/WOW17_1.png" width="45%" style="padding-left:30px")
      %img.wow-photo-2(src="/images/committee/outreach/WOW17_2.png" width="45%" style="padding-left:30px")
    %p.center-text
    %div#photos
      %img.wow-photo-3(src="/images/committee/outreach/WOW17_3.png" width="45%" style="padding-left:30px")
      %img.wow-photo-4(src="/images/committee/outreach/WOW17_4.png" width="45%" style="padding-left:30px")
    %p.center
    %p
      Check out this awesome video from our event in 2017!
    // %video{ width: "800", display: "block", margin: "auto", controls: "", name: "media"}
    //   %source.WOW(src="/images/committee/outreach/WOW.mp4" type="video/mp4" text-align="center" style="padding-left:150px")
    <iframe src="https://drive.google.com/file/d/0ByK4rGhQ14tpcDQ3eFZmbV9iekk/preview" width="1000" height="600"></iframe>
    %p.center
.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h2.center-text
      #{link_to 'WESP: Women in Engineering Stayover Program', '/events/stayover'}
    %p
      Prospective students who had already been accepted into UCLA’s Engineering School had the opportunity to participate 
      in a stayover program where they got a taste of what life is like for a first year undergraduate. After being paired 
      with their host (a current UCLA student of the same major), prospective students were able to have dinner with some of 
      our beloved professors, participate in a fun scavenger hunt on the hill, eat at Westwood’s iconic Diddy Riese, all while 
      bonding with other girls.
    %div#photos
      %img.wesp-photo-1(src="/images/committee/outreach/WESP17_1.JPG" width="45%" style="padding-left:30px")
      %img.wesp-photo-2(src="/images/committee/outreach/WESP17_2.JPG" width="45%" style="padding-left:30px")
    %p.center
    %div#photos
      %img.wesp-photo-3(src="/images/committee/outreach/WESP17_3.JPG" width="45%" style="padding-left:30px")
      %img.wesp-photo-4(src="/images/committee/outreach/WESP17_4.JPG" width="45%" style="padding-left:30px")
    %p.center
    %p.center-text
      ____________________________________________________________________________________________
    %p
      Through events such as these, our outreach committee works to foster a community that promotes and encourages the pursuit 
      of STEM careers among prospective students and youth. We are currently working on expanding these events so that even more 
      young students and their families can recognize all of the opportunities and potential their future holds. 
      We welcome all engineering disciplines and grades to join this committee in order to inspire the next generation 
      of engineers. 
    %p.center-text
      Check out our blog #{link_to 'The Little Tinkerer', 'https://littletinkerer.blogspot.com'} as well! 


.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h2.center-text
      2016 - 2017 Outreach Committee
    .committee-photo
      %img.committee-photo-img{:src => "/images/committee/outreach/outreachCommittee1617.jpg"}
    %p.center-text