---
title: SWE UCLA
bgcolor: "#4497CB"
bgimage: "/images/gear-overlay.png"
splashtext: "Outreach"
---

.row.margin-bottom-m.img-panel{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 Outreach Committee
    %h5 Introducing young students to STEM
    %p 
      SWE’s Outreach Committee strives to encourage and support elementary through high school students to become involved 
      in STEM fields. We work with prospective students, parents, and youth to spread empowerment and inspiration for pursuing 
      engineering careers.

    %h5 What we do
    %p
      We host the Women in Engineering Stayover Program (WESP) for over 60 prospective engineering students to stay a night with 
      current UCLA engineering students, WOW! That's Engineering Day with the Girl Scouts of 
      America that welcomes 100 local Girl Scouts to discover what it's like to be an engineer, and mentorship 
      opportunities for high school students.

    %h5 Fall 2020 applications
    %p 
      Our diverse committee, comprised of all engineering disciplines and grade levels, is dedicated to planning and 
      executing virtual outreach events that both excite and inspire the next generation of engineers. If you are 
      passionate about providing access to STEM for elementary through high schoolers, apply for the Outreach Committee!

    %p
      Click <a href = "https://tinyurl.com/outreach-positions">here</a> to learn more about committee roles. </br>
      Click <a href = "https://docs.google.com/forms/d/e/1FAIpQLSc-_dklh82vgmRNZeEoJVfEHuO32uZmci_d9bHjS4Dfb5hPLA/viewform?usp=sf_link"> here </a> to apply! </br>
    
    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Thursday, 10/15:
          Application due. </br>
        %li
          %b 
            Friday, 10/16:
          Interview invitations sent out. </br>
        %li
          %b 
            Saturday, 10/17 and Sunday, 10/18:
          Interviews. </br>
        %li
          %b 
            Monday, 10/19:
          Decisions sent out. </br>
        %li
          %b 
            Tuesday, 10/20 @ 5 PM PST:
          First committee meeting. </br>
    %p  


 
