---
title: SWE UCLA
bgcolor: "#dcc554"
bgimage: "/images/gear-overlay.png"
splashtext: "Technical"
---

.row.margin-bottom-m{"data-equalizer" => ""}
  .large-12.columns{"data-equalizer-watch" => ""}
    %h1 
      Technical Committee
    %h5 Providing opportunities to develop technical skills, regardless of previous experience
    %p 
      The Technical Committee aims to provide people more opportunities to develop technical skills while feeling 
      supported throughout their learning. We collaborate with the other engineering clubs on campus to plan and 
      host workshops that teach important technical skills.
      
    %h5 What we do
    %p 
      We organize QWER Hacks (pronounced QUEER Hacks, but spelt more techy), an LGBTQ+ inclusive hackathon, 
      with the goal of bringing more awareness and support for the queer and trans community in STEM. This year, 
      QWER Hacks will occur virtually on the weekend of January 23rd-24th (block that off in your calendars!!). 
      There is a separate QWER Hacks organizing committee that technical committee members will adopt as parents 
      to help them plan the event. We also organize many different technical workshops on web development, circuitry, 
      CAD, and more, as well as technical interview or nternship preparation.

    %h5 Fall 2020 applications
    %p
      As a committee member, you will be integral in innovating, planning, developing, and promoting (virtual) events that 
      will have a major impact on students and faculty at UCLA. You will also have the opportunity to expand your reach by 
      joining/planning our lobbying trips to Sacramento and/or D.C.! 
    %p
    %p
      Click <a href = "https://tinyurl.com/tech-committee-roles">here</a> to learn more about committee roles. </br>
      Click <a href = "http://tinyurl.com/tech-committee-app"> here </a> to apply! </br>
    %p
      %h5 Important application dates
      %ul.advocacy-list-3(style="padding-left:20px; padding-right:80px")
        %li
          %b 
            Wednesday, 10/14:
          Application due. </br>
        %li
          %b 
            Thursday, 10/15:
          Interview invitations sent out. </br>
        %li
          %b 
            Friday, 10/16 and Satuday, 10/17:
          Interviews. </br>
        %li
          %b 
            Sunday, 10/18:
          Decisions sent out. </br>
        %li
          %b 
            Monday, 10/19 @ 6 PM PST:
          First committee meeting. </br>
    %p  
      