%footer.row
	.large-12.columns
		%hr/
		.row
			.large-6.columns
				%p © Society of Women Engineers at UCLA, 2016
			.large-6.columns
				%ul.menu.medium-horizontal.align-right.simple
					-# Since links are right-aligned, the first link listed is the right-most link
					%li
						%a{:href => "http://www.slideshare.net/sweucla", :title => "Slideshare"}
							%i.fa.fa-slideshare.fa-2x{"aria-hidden" => "true"}
					%li
						%a{:href => "https://twitter.com/swe_ucla", :title => "Twitter"}
							%i.fa.fa-twitter-square.fa-2x{"aria-hidden" => "true"}
					%li
						%a{:href => "https://www.instagram.com/swe_ucla/", :title => "Instagram"}
							%i.fa.fa-instagram.fa-2x{"aria-hidden" => "true"}
					%li
						%a{:href => "https://www.facebook.com/uclaswe", :title => "Facebook"}
							%i.fa.fa-facebook-square.fa-2x{"aria-hidden" => "true"}
					%li.menu-text
						Check us out on social media: