%footer.row
	.large-12.columns
		%hr/
		.row
			.large-6.columns
				%p © Copyright no one at all. Go to town.
			.large-6.columns
				%ul.menu.medium-horizontal
					%li
						%a{:href => "#"} Link 1
					%li
						%a{:href => "#"} Link 2
					%li
						%a{:href => "#"} Link 3
					%li
						%a{:href => "#"} Link 4