%footer.footer
	.row
		.small-12.columns
			%p.slogan Check us out on social media!
			%p.links
				%a{:href => "https://www.facebook.com/uclaswe", :title => "Facebook"}
					%i.fa.fa-facebook-square.fa-2x{"aria-hidden" => "true"}
				%a{:href => "https://twitter.com/swe_ucla", :title => "Twitter"}
					%i.fa.fa-twitter-square.fa-2x{"aria-hidden" => "true"}
				%a{:href => "https://www.instagram.com/swe_ucla/", :title => "Instagram"}
					%i.fa.fa-instagram.fa-2x{"aria-hidden" => "true"}
				%a{:href => "http://www.slideshare.net/sweucla", :title => "Slideshare"}
					%i.fa.fa-slideshare.fa-2x{"aria-hidden" => "true"}
