// Small Navigation
.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
    %a.logo-small.show-for-small-only{:href => "#"}
        %img{:src => "/images/swe-logo-small.png"}/
    %button.menu-icon{"data-toggle" => "", :type => "button"}
    .title-bar-title Menu

// Medium-Up Navigation
%nav#nav-menu.top-bar
    .logo-wrapper.hide-for-small-only
        .logo
            %img{:src => "/images/swe-logo.png"}/
    .top-bar-left
        %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
            %li
                %a{:href => "#"} About SWE-UCLA
                %ul.submenu.menu.vertical.medium-vertical{"data-submenu" => ""}
                    %li
                        %a{:href => "#"} How to Join
                    %li
                        %a{:href => "#"} SWE Board 2016-2017
            %li.has-submenu
                %a{:href => "#"} Committees
                %ul.s.menu.vertical.medium-vertical{"data-submenu" => ""}
                    %li
                        %a{:href => "#"} Outreach
                    %li
                        %a{:href => "#"} Major
                    %li
                        %a{:href => "#"} Advocacy
            %li.has-submenu
                %a{:href => "#"} Events
                %ul.submenu.menu.vertical.medium-vertical{"data-submenu" => ""}
                    %li
                        %a{:href => "#"} Calendar
                    %li
                        %a{:href => "#"} EWI
                    %li
                        %a{:href => "#"} WESP
                    %li
                        %a{:href => "#"} EPEC
                    %li
                        %a{:href => "#"} Announcements
            %li.has-submenu
                %a{:href => "#"} Contact
            %li.has-submenu
                %a{:href => "#"} Sponsors