// Small Navigation
.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
    %a.logo-small.show-for-small-only{:href => "/"}
        %img{:src => "/images/swe-logo-small.png"}/
    %button.menu-icon{"data-toggle" => "", :type => "button"}
    .title-bar-title Menu

// Medium-Up Navigation
.nav-wrapper
    %nav#nav-menu.top-bar{"data-start" => "position: relative;", "data-top" => "position:fixed; top:0; left: 0;width: 100%; "}
        .logo-wrapper.hide-for-small-only
            .logo
                %a{:href => "/"}
                    %img{:src => "/images/swe-logo.png"}/
        .top-bar-left
            %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
                %li
                    %a{:href => "#"} About SWE-UCLA
                    %ul.submenu.menu.vertical.medium-vertical{"data-submenu" => ""}
                        %li
                            %a{:href => "/about/mission-statement"} Mission
                        %li
                            %a{:href => "/about/how-to-join"} How to Join 
                        %li
                            %a{:href => "/about/swe-board"} SWE Board 2020-21
                        %li
                            %a{:href => "http://societyofwomenengineers.swe.org/"} National SWE
                        %li
                            %a{:href => "http://engineering.ucla.edu/"} UCLA School of Engineering
                %li.has-submenu
                    %a{:href => "#"} Committees
                    %ul.s.menu.vertical.medium-vertical{"data-submenu" => ""}
                        %li
                            %a{:href => "/committees/outreach"} Outreach
                        %li
                            %a{:href => "/committees/internalaffairs"} Internal Affairs
                        %li
                            %a{:href => "/committees/advocacy"} Advocacy
                        %li
                            %a{:href => "/committees/ewi"} EWI
                        %li
                            %a{:href => "/committees/gradswe"} GradSWE
                %li.has-submenu
                    %a{:href => "#"} Events
                    %ul.submenu.menu.vertical.medium-vertical{"data-submenu" => ""}
                        %li
                            %a{:href => "/events/calendar"} Calendar
                        %li
                            %a{:href => "/events/ewi"} EWI
                        %li
                            %a{:href => "/events/stayover"} WESP
                        %li
                            %a{:href => "/events/epec"} EPEC
                %li.has-submenu
                    %a{:href => "/contact"} Contact
                %li.has-submenu
                    %a{:href => "/sponsors"} Sponsors
