---
title: Sponsors
bgcolor: "#63B0BB"
bgimage: "/images/gear-overlay.png"
splashtext: "<br> Sponsors"
---
.row
  .sponsor.diamond
    %h1 Diamond
    .sponsor-image
      - data.sponsors.diamond.each do |e|
        %img{:src => e}
.row
  .sponsor.platinum
    %h1 Platinum
    .sponsor-image
      - data.sponsors.platinum.each do |e|
        %img{:src => e}
/ .row
/   .sponsor.gold
/     %h1 Gold
/     .sponsor-image
/       - data.sponsors.gold.each do |e|
/         %img{:src => e}
.row
  .sponsor.silver
    %h1 Silver
    .sponsor-image
      - data.sponsors.silver.each do |e|
        %img{:src => e}
.row
  .sponsor.bronze
    %h1 Bronze
    .sponsor-image
      - data.sponsors.bronze.each do |e|
        %img{:src => e}
.row
  .center-text
    %h2 
      Interested in sponsorship with SWE-UCLA? 
    %h3
      Read more information about getting involved with us #{link_to "here!", 'https://drive.google.com/file/d/1uuoeHrbmOQkMbamqPk98US7lNZRJksrA/view?usp=sharing'}


  